# Ignora la carpeta amb dades dels usuaris
dades_usuaris/
tfm-streamlit-cb211d491802.json

# Fitxers temporals de Python
*.pyc
__pycache__/

# Fitxers de backup
*.bak
*.tmp
*~

# Fitxers del sistema (Mac, VS Code, etc.)
.DS_Store
.vscode/
